body {
    background: #DDDDDD;
}

#nav-link,
.navbarMenuDrop,
.navbar-toggler,
.navbar {
    background-color: #016A3A;
    color: white !important;
}

.page-container {
    margin-top: 50px;
}

#greekLogo {
    width: 115px;
    height: 35px;
}

#coatOfArms {
    width: 85px;
    height: 137px;
}

#crossCresent {
    width: 100px;
    height: 100px;
}

#lcaTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 33px;
    display: flex;
    align-items: flex-end;
    color: #016A3A;
}

#roseTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-weight: 750;
    line-height: 19px;
    display: flex;
    align-items: flex-end;

    color: #725220;

}

p {
    font-size: 10pt;
}

#menuDropdown,
#loginBtn,
.navbar-toggler {
    cursor: pointer;
}

.nav-link {
    color: white;
    text-decoration: none;
    background-color: none;
}

.dropdownClickable {
    font-size: 12pt;
}

.nav-link:hover,
.dropdownClickable:hover {
    color: #f6b23b;
}

#navbarMenuDrop:focus,
#menuToggleIcon:focus,
#loginBtn:focus {
    border-color: #f6b23b;
    outline: none;
}