.row {
    margin-bottom: 10px;
}

.page-container{
    margin-top: 10px;
}

.leftCol {
    margin-left: 5px;
}

.rightCol {
    margin-right: 5px;
}

.mdc-text-field {
    height: 53px;
    max-height: 53px;
    min-height: 53px;
}

.mdc-text-field--fullwidth {
    margin-left: 20px;
    margin-right: 20px;
    height: 53px;
    max-height: 53px;
    min-height: 53px;
}

.fullWidthLine {
    height: 53px;
    max-height: 53px;
    min-height: 53px;
}