<div class="row navbar">
    <div class="col-5 justify-content-center">
        <div class="navbar navbar-dark sticky-bottom justify-content-start">
            <p>CONTACT US <br>
                <br>
                High Alpha: John Snow <br>
                johnSnow@rose-hulman.edu <br>
                High Delta: John Hail <br>
                johnHail@rose-hulman.edu</p>
        </div>
    </div>
    <div class="col-2">
        <div class="navbar navbar-dark sticky-bottom justify-content-center">
            <img id="coatOfArms" src="./resources/lcaCoatofArms.png">
        </div>
    </div>
    <div class="col-5">
        <div class="navbar navbar-dark sticky-bottom justify-content-end">
            <p align="right">LOCATION <br>
                <br>
                Lambda Chi Alpha <br>
                5500 Wabash Ave. <br>
                Terre Haute, IN 47803 <br>
                CM 5052</p>
        </div>
    </div>
</div>