<div class="row">
    <div class="col-4 navbar navbar-dark sticky-top">
        <button id="menuToggleIcon" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#mainMenuDrop">
            <span class="material-icons">menu</span>
        </button>
    </div>

    <div class="col-4 navbar navbar-dark sticky-top justify-content-center">
        <a class="navbar-brand" href="/">
            <img id="greekLogo" src="./resources/lcaGreekLogo.png">
        </a>
    </div>

    <div class="col-4 navbar navbar-dark sticky-top justify-content-end">
        <btn id="login" class="navbar-toggler mr-sm-2"><span class="dropdownClickable">Log in</span></btn>
    </div>
    <div class="navbarMenuDrop col-4">
        <div class="collapse navbar-collapse" id="mainMenuDrop">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>
                    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarMembers">
                        <span class="dropdownClickable">Members</span>
                    </div>
                    <div class="navbarMenuDrop">
                        <div class="collapse navbar-collapse" id="navbarMembers">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li>
                                    <a class="nav-link dropLink" href="/activesList.html">Actives List</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">Life in House</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">Duties</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarAlumni">
                        <span class="dropdownClickable">Alumni</span>
                    </div>
                    <div class="navbarMenuDrop">
                        <div class="collapse navbar-collapse" id="navbarAlumni">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li>
                                    <a class="nav-link dropLink" href="#">Alumni List</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">Alumni Life</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">Networking</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarActiveTools">
                        <span class="dropdownClickable">Active Tools</span>
                    </div>
                    <div class="navbarMenuDrop">
                        <div class="collapse navbar-collapse" id="navbarActiveTools">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li>
                                    <a class="nav-link dropLink" href="#">Theta Hour Logger</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">Theta Hour Signup</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">House Duty List</a>
                                </li>
                                <li>
                                    <a class="nav-link dropLink" href="#">Minutes Maker</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="navbar-toggler"><span class="dropdownClickable">Calendar</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>